<view class="container">
  <view class="nav">
    <navigator>南京</navigator>
    <navigator url="../cities/guangZhou/guangZhou">广州</navigator>
    <navigator>深圳</navigator>
    <navigator>珠海</navigator>
    <navigator>香港</navigator>
    <navigator>澳门</navigator>
  </view>
</view>
