<view class="container">
  <view class="nav">
    <view class="active" bindtap="clickScroll('huaNong')">华农紫荆花</view>
    <view bindtap="clickScroll('baiYun')">白云山</view>
    <view bindtap="clickScroll('huaNanLiGomg')">华南理工</view>
    <view bindtap="clickScroll('bookstore')">书店</view>
  </view>
  <scroll-view class='wrap-img' scroll-y scroll-into-view="{{toView}}" scroll-with-animation="true">
    <image id="huaNong" class="huaNong" src="../../../images/huaNong.jpg"></image>
    <image id="baiYun" class="baiYun" src="../../../images/baiYun.jpg"></image>
    <image id="huaNanLiGomg" class="huaNanLiGomg" src="../../../images/huaNanLiGomg.jpg"></image>
    <image id="bookstore" class="bookstore" src="../../../images/bookstore.jpg"></image>
  </scroll-view>
</view>
